@import 'layout';



.main{
    
    h2{
        font-size: $large-letter*0.7;
    }
    h3{
        margin-bottom: 2%;
    }
    h2,h3,h4{
        font-weight: bold;
        color: $color2;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 1%;
        text-align: left;
        width: 25%;
        color: $color2;
        border-top: 2px solid $color3;
        box-shadow: 2px 2px 3px 1px $headcolor ;
        @include ipad(){
            width: 50%;
        }
        @include iphone12(){
            width: 70%;
        }
        label,input{
            display: block;
            width: 100%;
            color: $color2;
        }
        input{
            padding-left: 10%;
        }
        .envelope{
            position: relative;
            i{
                position: absolute;
                top: 8%;
                left: 2%;
            }
        }
        .lock{
            position: relative;
            i{
                &:nth-child(2){
                    position: absolute;
                    top: 8%;
                    left: 2%;
                }
            }
        }
        a{
            color: $color3;
        }
        .button{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 5%;
            a{
                width: 45%;
                display: block;
                margin: 3%;
                padding: 1%;
                text-align: center;
                border-radius: 5%;
                color: $color1;
                cursor: pointer;
                &:nth-child(1){
                    background: $headcolor;
                }
                &:nth-child(2){
                    background: $color3;
                }
                &:hover{
                    background: $color2;
                }
            }
        }
    }
    
}